.container {
    max-width: 720;
    margin: 4rem;
    padding: 0 2rem;

    //display: flex;
    //justify-content: space-between;
   // flex-direction: column;
}

.container h1 {
    color: var(--white);
    //text-align: center;
}

.containerChat{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.containerChat textarea{
    background-color: var(--dark-900);
    width: 80%;
    color: var(--white);
    font-size: 1.5rem;
}

.question {
    resize: none;
    // grid-template-rows: auto;

    /* vertical | horizontal */
    margin: 1rem;
    margin-top: 1.5rem;

    /* vertical | horizontal */
    padding: 0.8rem;

    /* vertical | horizontal */
    border: 1rem 1rem;
    
    border-style: solid;
    border-width: 3px;
    border-radius: 0.8rem;
    border-color: var(--gray-100);
}

.answer {
    height: 15rem;
    
    /* vertical | horizontal */
    margin: 1% auto;
    
    /* vertical | horizontal */
    padding: 0.8rem 0.8rem;
      
    /* vertical | horizontal */
    border: 1rem 1rem;
    border-style: solid;
    border-width: 3px;
    border-radius: 0.8rem;
    border-color: var(--gray-100);
}

.container button{
    background: transparent;
    border: solid transparent;
    margin-top: 0.5rem;
    
    background-color: var(--green);
    border-radius: 0.6rem;
    /* vertical | horizontal */
    padding: 0.2rem 0.5rem;
    font-weight: bold;
}

.returnButton{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    
    span{
        /* vertical | horizontal */
        margin: auto 0.7rem;
        font-size: 1.4rem;
    }
}